.admin {
  display: flex;
  background-color: white;
}
.admin-main {
  display: flex;
  flex-direction: column;
}
.admin-options {
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .admin {
    flex-direction: column;
  }
}
